In [1]:
import pandas as pd

## Game Info

In [2]:
filepath1 = "Resources/game.csv"
game_df = pd.read_csv(filepath1)

In [3]:
game_df = game_df[["game_id", "season", "type", "away_team_id", "home_team_id", "outcome"]]

In [4]:
game_df = game_df.loc[game_df["type"] == "R"]

In [5]:
game_df = game_df.loc[game_df["season"] == 20172018]

In [6]:
game_df

         game_id    season type  away_team_id  home_team_id       outcome
620   2017020812  20172018    R            24             7   away win OT
623   2017020586  20172018    R            20            24  home win REG
626   2017020240  20172018    R            23            24  home win REG
627   2017020624  20172018    R            29            21  home win REG
629   2017020221  20172018    R            52            25  away win REG
...          ...       ...  ...           ...           ...           ...
7426  2017020166  20172018    R            15            22  away win REG
7435  2017020830  20172018    R            23            14  home win REG
7436  2017020227  20172018    R            13            12  home win REG
7438  2017020704  20172018    R             5            26  away win REG
7439  2017020726  20172018    R            21            10  away win REG

[1271 rows x 6 columns]

In [7]:
game_df.to_csv("Output/game_info_df.csv", index=False, header=True)

## Player Info

In [ ]:
filepath2 = "Resources/player_info.csv"
player_info_df = pd.read_csv(filepath2, sep="|")

In [ ]:
player_info_df = player_info_df.assign(Name = player_info_df.firstName.astype(str) + " " +
                                                       player_info_df.lastName.astype(str))

In [ ]:
player_info_df = player_info_df[["player_id", "Name", "primaryPosition"]]

In [ ]:
player_info_df.to_csv("Output/player_info_df.csv", index=False, header=True, sep=",")

## Team Info

In [ ]:
filepath3 = "Resources/team_info.csv"
team_info_df = pd.read_csv(filepath3)

In [ ]:
team_info_df = team_info_df.assign(Team = team_info_df.shortName.astype(str) + " " +
                                                       team_info_df.teamName.astype(str))

In [ ]:
team_info_df = team_info_df[["team_id", "Team"]]

In [ ]:
team_info_df = team_info_df.drop([18, 32])

In [ ]:
team_info_df["Team"] = team_info_df["Team"].replace({"NY Rangers Rangers": "New York Rangers"
                                                   , "NY Islanders Islanders": "New York Islanders"})

In [ ]:
team_info_df.to_csv("Output/team_info_df.csv", index=False, header=True)